[core]
  editor = vim
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  conflictstyle = diff3
[difftool]
  prompt = false
[push]
  default = matching
[alias]
  vlog = log --oneline --graph --decorate
  lls = ls-tree -r master --name-only
[commit]
  gpgsign = true
[gpg]
  program = gpg2
[difftool "vimdiff"]
  cmd = vim -f -d -c \"wincmd l\" -c 'cd \"$GIT_PREFIX\"' \"$LOCAL\" \"$REMOTE\"
[http]
  proxy = socks5h://127.0.0.1:9050
